<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/daftar.css') }}">
    <title>ConnectServes</title>
</head>
<body>
    <div class="split kiri">
        <div class="text">
            <div class="display">
                <h1>Buat akun kamu</h1>
                <p>Belum punya akun?</p> 
                <a href="daftar">Daftar</a> <br>
            </div>

            <label class="labelemail">Nama</label><br>
            <input type="email" id="email" class="textbox" placeholder="Isi nama kamu" required><br>
            
            <label for="email" class="labelemail">Email</label><br>
            <input type="email" id="email" class="textbox" placeholder="Masukkan email kamu" required><br>
        
            <label for="password" class="labelpassword">Kata Sandi</label><br>
            <input type="password" id="password" class="textbox" placeholder="Masukkan 6 karakter atau lebih" required><br>

            <label class="labelpassword">Nomor HP</label><br>
            <input type="password" id="password" class="textbox" placeholder="Masukkan nomor kamu" required><br>

            <label class="labelpassword">Peran Pengguna</label><br>

            <div class="button-role">
                <a href="">
                    <button class="button-pilih">Pelanggan</button>
                </a>
                <a href="">
                    <button class="button-pilih">Penyedia Jasa</button>
                </a>
            </div>
            
            <a href="/">
                <button class="button-daftar">Daftar</button>
            </a>
        </div>
    </div>

    <div class="split kanan">
</body>
</html>