<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/masuk.css') }}">
    <title>ConnectServes</title>
</head>
<body>
    <div class="split kiri">
        <div class="text">
            <div class="display">
                <h1>Selamat datang <br> kembali!</h1>
                <p>Belum punya akun?</p> 
                <a href="{{ url_for('daftar.daftar') }}">Daftar</a> <br>
            </div>
            
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form method="POST" action="">
                <label for="email" class="labelemail">Email</label><br>
                <input type="email" id="email" name="email" class="textbox" placeholder="Masukkan email kamu" required><br>
            
                <label for="password" class="labelpassword">Kata Sandi</label><br>
                <div class="forgot-password">
                    <a href="">Lupa kata sandi?</a>
                </div>
                <input type="password" id="password" name="password" class="textbox" placeholder="Masukkan 6 karakter atau lebih" required><br>
                
                <button type="submit" class="button-masuk">Masuk</button>
            </form>
        </div>
    </div>

    <div class="split kanan">
    </div>    
</body>
</html>